.about-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  overflow-y: auto;
  font-size: 1.2rem;
  padding-top: 80px;
}

.page-title-container {
  height: 180px;
  width: 100%;
  background-color: #166CBF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}

/* Card Group */
.card-container {
  margin-top: 20px; 
  margin-bottom: 20px;
}
.card-header {
  background-color: #166CBF;
  color: white;
}
.card-text {
  font-size: 1.05rem;
}

/* Button */
.button { 
  background-color: #37b601;
  border: none;
  color: white;
  width: 100%;
  padding: 10px 20px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 10px auto;
  margin-right: 15px; 
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px rgb(105, 105, 105);
}
.button:hover {
  color: black;
  background-color: #f1592a;
}
.button:active {
  box-shadow: 0 2px #666;
  background-color: #f1592a;
  transform: translateY(2px);
}
.margin-auto {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 40px;
  background-color: #37b601;
}

/* Button Group */
.button-title-group { text-align: center; }

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1800px) {
  .about-wrapper { padding-top: 50px; }
  .button-title-group { margin-bottom: 30px; }
  .page-title-container { height: 120px; }
}

/* iPad - Horizontal */
@media screen and (min-width: 900px) and (max-width: 1025px) {
  .button-title-group { margin-bottom: 50px; }
}

/* iPad */
@media screen and (min-width: 601px) and (max-width: 769px) {
  .container { max-width: 760px; }
  .button-title-group { margin-top: 0; margin-bottom: 0; }
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .about-wrapper { padding-top: 50px; }
  .page-title { font-size: 2.2rem; text-align: center; margin: auto 50px; }
  .button { margin-bottom: 30px; margin-top: 0; }
}

/* iPhone */
@media screen and (max-width: 376px) {
  .margin-bottom { margin-bottom: 130px; margin-top: 0; }
  .page-title { font-size: 2rem; margin: auto 25px; }
}