<div class="about-wrapper">
  <div class="page-title-container">
    <h1 class="page-title">3 Easy Steps to Get Approved</h1>
  </div>
  <!-- Card Group -->
  <div class="card-container container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../../assets/img/about-1.jpg" alt="Card image cap">
        <div class="card-header">
          <h3>STEP 1</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">Select Vehicle & Budget</h5>
          <p class="card-text">	
              As you embark this journey to a successful vehicle acquisition, it is important for you to get a perfect head start. Pick the vehicle you want to finance, and we will take care of the rest.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/img/about-2.jpg" alt="Card image cap">
        <div class="card-header">
          <h3>STEP 2</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">Get Approved Over the Phone</h5>
          <p class="card-text">	
              Your application will now be verified. Your vehicle options and monthly payments will be discussed. Then, we will offer you the auto loan terms that are best suited for you.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/img/about-3.jpg" alt="Card image cap">
        <div class="card-header">
          <h3>STEP 3</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">Enjoy Your New Car!</h5>
          <p class="card-text">	
              Here at Smart Auto Group, we strive to help everyone secure a fast and stress-free car loan approval regardless of your credit standing.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Button Group -->
  <div class="container button-container">
    <div class="row">
        <div class="col-lg-8 col-sm-12 button-title-group">
          <h2>GET PRE-APPROVED TODAY!</h2>
          <h4>FAST, EASY & 100% FREE</h4>
        </div>
        <div class="col-lg-4 col-sm-12">
          <a routerLink="/budget" routerLinkActive="active"><button class="button margin-bottom">APPLY NOW</button></a>
        </div>
    </div>
  </div>

</div>
