<div class="team-wrapper">
  <div class="page-title-container">
    <h1 class="page-title">Meet The Team</h1>
  </div>

  <!-- Card Group -->
  <div class="card-container" style="margin-top: 0;">
    <div class="custom-card card-left collapsed less-padding">
      <img src="../../../assets/img/george.jpeg" alt="George Wong" class="team-img">
      <div class="team-text-group">
        <h4 class="team-title-left"><strong>George Wong</strong><span style="font-weight: normal;"><br /> Dealer Principal | Credit Analyst</span></h4>
        <p class="team-text-left">
          George has over 16 years of Automotive Industry experience, it all started with an apprentice as a Mechanic, to Service Consultant, to Assistant Service Manager to Service Manager at a Honda Dealership. His main goal in his career is to genuinely and passionately assist his clients and facilitate a trustworthy and successful relationship. It is important that all of his clients are walking out happy and content.
        </p>
      </div>
    </div>
    <div class="custom-card card-right collapsed picture-top">
      <div class="team-text-group">
        <h4 class="team-title-right"><strong>Tommy Lui</strong><span style="font-weight: normal;"><br /> General Sales Manager | Financial Service Manager</span></h4>
        <p class="team-text-right">
          Tommy has over 10 years of Automotive Industry experience, it all started as a Detailer to Sales Representative to Used Car Manager to General Sales Manager. He worked at many different brand name dealerships including, Acura, BMW, Mini, Lexus, and Honda. His goal is to reach out to lenders and negotiate the lowest rate possible for our clients so that our clients will be getting the best possible deal.
        </p>
      </div>
      <img src="../../../assets/img/tommy.jpeg" alt="Tommy Lui" class="team-img img-right">
    </div>
  </div>
  <div class="card-container">
    <div class="custom-card card-left collapsed even-less-padding">
      <img src="../../../assets/img/bruce.jpeg" alt="Bruce Hu" class="team-img">
      <div class="team-text-group">
        <h4 class="team-title-left"><strong>Bruce Hu</strong><span style="font-weight: normal;"><br /> Investor | Internal Sales Manager</span></h4>
        <p class="team-text-left">
          Bruce has over 2 years of supervising and motivating salespeople and promoting and encouraging strategies to assist client’s needs. He performs typical managerial duties, such as organizing schedules, training, interviewing, hiring, and setting team goals. He’s also a Realtor with over 9 years of professionalism and he has successfully assisted many clients all over the Greater Toronto Area.
        </p>
      </div>
    </div>
    <div class="custom-card card-right collapsed picture-top">
      <div class="team-text-group">
        <h4 class="team-title-right"><strong>Carol Tsao</strong><span style="font-weight: normal;"><br /> Internet Sales Manager</span></h4>
        <p class="team-text-right">
          Carol has over 3 years of managing BDC/Internet Sales Representatives, she is also responsible for handling all incoming phone calls and internet leads, as well as confirming sales appointments and performing long-term follow-up on all unsold customers (e.g., internet leads, showroom visits, and incoming calls).
        </p>
      </div>
      <img src="../../../assets/img/carol.jpeg" alt="Carol Tsao" class="team-img">
    </div>
  </div>
  <div class="card-container">
    <div class="custom-card card-left collapsed even-less-padding">
      <img src="../../../assets/img/laura.jpeg" alt="Laura Scott" class="team-img">
      <div class="team-text-group">
        <h4 class="team-title-left"><strong>Laura Scott</strong><span style="font-weight: normal;"><br /> Former Lot Manager</span></h4>
        <p class="team-text-left">
          Laura manages, receives, moves, arranges and maintains the appearance of vehicles, and ensures the vehicle lot stays organized. She also parks vehicles in assigned areas to check them for damage, lists and stores keys, and also completes all Detailing and Licensing for our clients to ensure the entire process is seamless.
        </p>
      </div>
    </div>
    <div class="custom-card card-right blue-container">
      <p class="custom-text">
        Our staff come from many different types of background, but ultimately, we are a company that puts our client’s best interest first. Many individuals care more about making money off customers than to be honest and sincere. We have a Code of Ethics in our work and we stand by that. 
      </p>
    </div>
  </div>

  <!-- Apply Now -->
  <div class="action-button-container">
    <a routerLink="/budget" routerLinkActive="active"><h4 class="action-button">Click here to Apply Now!</h4></a>
  </div>

</div>