<div class="budget-wrapper">
  <!-- Steps -->
  <div class="container">
    <div id="Steps" class="steps-section">
      <div class="steps-timeline">
        <div class="completed-steps step-one-animation"></div>
          <div class="steps-one">
            <img class="steps-img" src="https://www.approvalteam.ca/funnel/public/images/timeline-point-1.png" alt="timeline-point-1" />
            <p class="steps-description">
              Select Vehicle/Budget
            </p>
          </div>
          <div class="steps-two">
            <img class="steps-img" src="https://www.approvalteam.ca/funnel/public/images/timeline-point-2.png" alt="timeline-point-2" />
            <p class="steps-description">
              Email Me Deals
            </p>
          </div>
      </div>
  <div class="clearFix"></div>
  </div>

  <!-- Budget Slider -->
  <div class="budget-slider-container">
    <h2 class="budget-title">Select Your Vehicle Monthly Budget</h2>
    <h6 style="margin-bottom: 25px;">(No Obligation & You May Change Anytime)</h6>
    <input type="text" class="js-range-slider" name="my_range" value="" />
  </div>

  <!-- Car Select -->
  <div class="car-select-container">
    <h2 class="car-title">Select Vehicle Type</h2>
    <!-- Desktop Car Select -->
    <div class="car-select-group container show-desktop">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">4-Door Sedan</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-2.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pickup Truck</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-3.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sport Utility Vehicle</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
      </div>
      <div class="card-deck" style="margin-top: 20px; ">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-4.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Minivan</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-5.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hybrid/Electric</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-6.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Exotic</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Car Select Cards -->
    <div class="car-select-group container show-mobile">
      <div class="card-deck">
        <div class="card" style="margin-right: 10px;">
          <img class="card-img-top" src="../../../assets/img/car-1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">4-Door Sedan</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-2.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pickup Truck</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card" style="margin-right: 10px;">
          <img class="card-img-top" src="../../../assets/img/car-3.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">SUV</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-4.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Minivan</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card" style="margin-right: 10px;">
          <img class="card-img-top" src="../../../assets/img/car-5.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hybrid/Electric</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/car-6.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Exotic</h5>
            <p class="card-text"></p>
            <a href="#"><button class="button" style="margin: auto;">Select</button></a>
          </div>
        </div>
      </div>
    </div>
  <!-- End Car Select -->
  </div>

  <!-- Button -->
  <a routerLink="/email" routerLinkActive="active"><button class="button margin-auto">Finalize Application</button></a>

<!-- End Wrapper -->
</div>
