<div class="budget-wrapper">
  <!-- Steps -->
  <div class="container">
    <div id="Steps" class="steps-section">
      <div class="steps-timeline">
        <div class="completed-steps step-one-animation"></div>
          <div class="steps-one">
            <img class="steps-img" src="https://www.approvalteam.ca/funnel/public/images/timeline-point-1.png" alt="timeline-point-1" />
            <p class="steps-description">
              Select Vehicle/Budget
            </p>
          </div>
          <div class="steps-two">
            <img class="steps-img" src="https://www.approvalteam.ca/funnel/public/images/timeline-point-2.png" alt="timeline-point-2" />
            <p class="steps-description">
              Email Me Deals
            </p>
          </div>
      </div>
    <div class="clearFix"></div>
  </div>


  <!-- Budget Slider -->
  <div class="budget-slider-container">
    <h2 class="budget-title">Select Your Vehicle Monthly Budget</h2>
    <h6 style="margin-bottom: 25px;">(No Obligation & You May Change Anytime)</h6>
    <input type="text" class="js-range-slider" name="my_range" value="" />
  </div>

  <!-- Car Select -->
  <div class="car-select-container">
    <h2 class="car-title">Select Vehicle Type</h2>
    <div class="car-select-group">
        <div class="card" *ngFor="let car of allCar; let i = index">
          <img class="card-img-top" src="../../../assets/img/{{car.img}}" alt="4-Door Sedan">
          <div class="card-body">
            <h5 class="card-title" [ngClass]="{'desktop': car.mobileName}">{{car.type}}</h5>
            <h5 class="card-title" [ngClass]="{'mobile': car.mobileName}">{{car.mobileName}}</h5>
            <p class="card-text"></p>
            <div class="card-select" (click)="carSelected(i)">
              <label>
                <input id="{{car.name}}" type="radio" name="car-select">
                <span>Select</span>
              </label>
            </div>
          </div>
      </div>
    </div>
  <!-- End Car Select -->
  </div>

  <!-- Manufactuer Logos -->
  <div class="logo-container position-left">
    <img src="../../../assets/icons/makes/Audi-1.png" alt="Audi" class="logo-img">
    <img src="../../../assets/icons/makes/BMW-1.png" alt="BMW" class="logo-img">
    <img src="../../../assets/icons/makes/MBenz-1.png" alt="Mercedes Benz" class="logo-img">
    <img src="../../../assets/icons/makes/cadillac-1.png" alt="Cadillac" class="logo-img">
    <img src="../../../assets/icons/makes/dodge-1.png" alt="Dodge" class="logo-img">
    <img src="../../../assets/icons/makes/ford-1.png" alt="Ford" class="logo-img">
    <img src="../../../assets/icons/makes/gmc-1.png" alt="GMC" class="logo-img">
  </div>
  <div class="logo-container position-right">
    <img src="../../../assets/icons/makes/honda-1.png" alt="Honda" class="logo-img">
    <img src="../../../assets/icons/makes/hyundai-1.png" alt="Hyundai" class="logo-img">
    <img src="../../../assets/icons/makes/jeep-1.png" alt="Jeep" class="logo-img">
    <img src="../../../assets/icons/makes/mazda-1.png" alt="Mazda" class="logo-img">
    <img src="../../../assets/icons/makes/ram-1.png" alt="RAM" class="logo-img">
    <img src="../../../assets/icons/makes/VW-1.png" alt="Volkswagen" class="logo-img">
    <img src="../../../assets/icons/makes/toyota-1.png" alt="Toyota" class="logo-img">
  </div>

  <!-- Button -->
    <div class="text-center">
      <a class="button continue-btn" routerLink="/email" routerLinkActive="active" (click)="addValueToCookie()">Continue</a>
    </div>
<!-- End Wrapper -->
</div>
</div>
