.budget-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-color: rgb(250, 250, 250);
  padding-top: 70px; 
}

.show-desktop { display: initial; }
.show-mobile { display: none; }

/** STEPS START*/
em, i {
  font-style: italic;
}

.steps-section {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 10%;
  margin-top:20px;
}
.steps-timeline {
  border-top: 5px solid #ccc;
  margin: 20px 10%;
  outline: 1px dashed rgba(255, 0, 0, 0);
  position: relative;
  padding-top: 21px;  
}

.steps-timeline.extraBottomMargin {
  margin-bottom:29px;
}
.completed-steps {
  height: 5px;
  width: 0%;
  background-color: #37b601;
  position: absolute;
  top: -5px;
  left: 8px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
@keyframes tease-step-one {
0% {
  width: 0%;
}
50% {
  width:50%
}
100% {
  width: 0%;
}
}

.step-one-animation {
  animation: tease-step-one 6s infinite;
}

@keyframes tease-step-two {
0% {
  width: 40%;
}
50% {
  width:80%
}
100% {
  width: 40%;
}
}

.steps-one, .steps-two {
  outline: 1px dashed rgba(0, 128, 0, 0);
  width: 40%;
  margin-top: -49px;
}
.steps-one{
  left: -20%;
position:absolute;
}
.steps-two{
  right: -20%;
  position: absolute;
}
.steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.steps-description {
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: extra-expanded;
  -webkit-font-stretch: extra-expanded;
  -moz-font-stretch: extra-expanded;
  -ms-font-stretch: extra-expanded;
  -o-font-stretch: extra-expanded;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
  margin: -8px 0 0 0;
  overflow: hidden;
  letter-spacing:0.0px;
}

.steps-description .confirmed {
  color: #37b601;
}

.steps-description .pending {
  color: #cb4222;
}


.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
  color: #3c763d;
}

/** STEPS END*/

/* Budget Slider */
.budget-slider-container {
  text-align: center;
}
.budget-title {
  margin-top: 50px;
}

/* Car Select */
.car-select-container {
  text-align: center;
}
.car-title {
  margin-top: 50px;
}
.card-img-top {
  width: 70%; 
  margin: auto;
  margin-top: 10px; 
  margin-bottom: -10px;
}
.card-select label {
  background-color: rgb(27, 76, 255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 10px auto;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px rgb(105, 105, 105);
}
.card-select label span {
  text-align:center;
  font-size: 1.2rem;
  padding: 10px 20px 12px;
  border-radius: 5px;
  display:block;
}
.card-select label input {
  position:absolute;
  top:-20px;
}
.card-select input:checked + span {
  background-color: #f1592a;
  color:#F7F7F7;
}
input[type=radio] {
  display: none;
}


/* Button */
.button { 
  background-color: rgb(27, 76, 255);
  border: none;
  color: white;
  padding: 10px 20px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 10px auto;
  margin-right: 15px; 
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px rgb(105, 105, 105);
}
.button:hover {
  color: black;
  background-color: #f1592a;
}
.button:active {
  box-shadow: 0 2px #666;
  background-color: #f1592a;
  transform: translateY(2px);
}
.margin-auto {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 40px;
  background-color: #37b601;
}

/* Logos */
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.position-left {
  position: absolute;
  top: 150px;
  left: 100px;
}
.position-right {
  position: absolute;
  top: 150px;
  right: 100px; 
}

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1800px) {
  .position-left { left: 2.5%; }
  .position-right { right: 2.5%; }
}

@media screen and (max-width: 1567px) {
  .logo-img { height: 100px; }
  .position-left { top: 430px; }
  .position-right { top: 430px; }
}

@media screen and (max-width: 1445px) {
  .position-left { left: 1%; }
  .position-right { right: 1%; }
}

@media screen and (max-width: 1367px) {
  .logo-img { height: 70px; }
  .position-left { top: 540px; }
  .position-right { top: 540px; }
}

@media screen and (max-width: 1297px) {
  .logo-img { height: 50px; }
  .position-left { position: relative; top: -30px; left: unset; }
  .position-right { position: relative; top: -30px; left: 1px; }
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  h5 { font-size: 1.15rem; }
  .card-deck { flex-direction: row; margin-top: -5px; }
  .card-img-top { margin-top: 10px; margin-bottom: -10px; }
  .show-desktop { display: none; }
  .show-mobile { display: initial; }
  .budget-title { margin-top: 20px; }
  .car-title { margin-top: 30px; }
  .margin-auto { margin-top: -20px; margin-bottom: 30px; }
  .logo-container { flex-direction: row; }
  .logo-img { height: 50px; }
  .position-left { position: relative; top: -30px; left: unset; }
  .position-right { position: relative; top: -30px; left: 1px; }
}

/* iPhone */
@media screen and (max-width: 376px) {
  h5 { font-size: 1.05rem; }
  .margin-auto { margin-bottom: 130px; }
}
