@font-face { font-family: Montserrat; src: url(../../../assets/fonts/Montserrat.ttf) }
.home-wrapper {
  background-color: rgb(30, 144, 255);
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
section {
  min-height: 100vh; 
  height: auto; 
  position: relative; 
}

/* Home section ----------------------------------------------------------------------- */

/* Video Background */
#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto; 
  height: auto;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.25);
  position: fixed;
  top: 0;
  left: 0;
}

/* Scroll Icon */
.scroll-container {
  display: flex;
  justify-content: center; 
}
.scroll-down {
  position: absolute;
  top: 93vh;
  margin: 0 auto;
  z-index: 2;
  color: white;
  font-size: 3rem;
  animation: flickerAnimation 2s infinite;
}
@keyframes flickerAnimation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Title */
.title-group {
  font-family: Montserrat, sans-serif;
  color: white; 
  z-index: 2;
  position: absolute;
  top: 260px;
  left: 80px;
}
.home-title { font-size: 3.8rem; }
.home-subtitle { font-size: 1.5rem; }
.home-subtitle-2 { font-size: 1.5rem; margin-top: 10px; }
.button { 
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 10px auto;
  margin-right: 15px; 
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px rgb(105, 105, 105);
}
.button:hover {
  color: black;
  background-color: white;
}
.button:active {
  box-shadow: 0 2px #666;
  background-color: white;
  transform: translateY(2px);
}

/* About Section ------------------------------------------------------------------- */
#about {
  background-color: #F5F5F5; 
  min-height: unset; 
  padding-top: 50px;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-group {
  width: 30vw;
  margin-left: 20vw;
}

.section-subtitle {
  padding-top: 100px;
  font-size: 1.45rem;
  text-align: justify;
}

.about-text {
  font-size: 1.2rem;
  text-align: justify;
}

.about-img img {
  height: 700px;
  width: auto;
  position: relative;
  left: 100px; 
}

/* Review Section ------------------------------------------------------------------ */
#reviews {
  background-color: white;
  min-height: unset;
  padding-top: 2px;
  padding-bottom: 50px; 
}

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.5rem;
}

/* Carousel */
.container { max-width: unset !important; }
.card { border: none; }
.carousel-container { width: 80vw !important; }
.carousel-control-next { right: -10%; }
.carousel-control-prev { left: -10%; }
.arrow-icon { color: black; font-size: 2rem; }

/* Car Carousel */
.car-name { text-align: center; }
.margin-auto { left: -30.5%; position: relative; }
.car-container .button:hover { background-color: rgb(175, 175, 175); color: white; }


/* Review Carousel */
#review-carousel { margin-top: 50px; }
.review-container img { 
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
}
.review-name { 
  text-align: center;
  margin-top: 15px;
  font-size: 1.8rem;
}
.review-stars { margin: auto; }
.star { color: #F8D64E; }
.review-subtitle { text-align: center; }
.review-text { text-align: center; margin-top: 10px; }

/* Car Section --------------------------------------------------- */
#cars { 
  background-color: #F5F5F5; 
  min-height: unset; 
  padding-top: 50px;
  padding-bottom: 50px; 
}
.car-container { background-color: #F5F5F5;}

.quote-title { text-align: center; padding-top: 50px; }

/* Process Section ---------------------------------------------- */
#process { 
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: unset;
  height: auto;
  background-image: url("../../../assets/img/car-interior.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.process-title {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
}

.process-subtitle {
  font-size: 1.45rem;
  text-align: center;
}

.process-container {
  padding-top: 50px;
  width: 50vw;
  margin: auto;
  margin-left: 28vw;
}

.process-icon {
  font-size: 10rem;
}

.process-caption-1 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
  margin-left: -5px;
}
.process-caption-2 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
  margin-left: -60px;
}
.process-caption-3 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
  margin-left: -30px;
}
.process-caption-small-1 {
  margin-left: 12px;
  margin-top: -10px;
  font-style: italic;
  text-transform: uppercase;
}
.process-caption-small-2 {
  margin-left: 17px;
  margin-top: -10px;
  font-style: italic;
  text-transform: uppercase;
}
.process-caption-small-3 {
  margin-left: 32px;
  margin-top: -10px;
  font-style: italic;
  text-transform: uppercase;
}
.process-button {
  margin-left: 26.5%;
  margin-top: 50px;
}

/* Map Section ----------------------------------------------- */
#map {
  min-height: unset;
  height: 510px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.iframe-container {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-logo {
  height: 300px;
  width: 300px;
  border: none;
}

/* Footer Section -------------------------------------------- */
#footer {
  min-height: unset;
  height: 200px;
  background-color: #4CAF50;
}
.footer-container {
  position: relative;
  top: 50px;
  left: 70px;
  width: 75%; 
}
.footer-title {
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-line {
  margin-top: 5px;
  margin-bottom: 5px; 
  border-top: 2px dashed #131313;
  float: left;
}
.line-1 { width: 60%; }
.line-2 { width: 55%; }
.line-3 { width: 47.5%; }
.footer-text {
  margin-top: 15px; 
  font-weight: bold;
  color: white;
}
.footer-icons {
  margin-top: 15px;
}
.footer-icon {
  font-size: 2rem;
  margin-right: 25px; 
  color: white;
}
.footer-icon:hover {
  color: black;
  cursor: pointer;
}

/* Laptop -----------------*********------------------------- */
@media screen and (max-width: 1800px) {
  /* About */
  .section-subtitle { padding-top: 15px; }
  /* Car */
  .button { padding: 16px 20px 12px; }
  /* Process */
  .process-container { margin-left: 27vw; }
  /* Footer */
  .line-1 { width: 60%; }
  .line-2 { width: 55%; }
  .line-3 { width: 47.5%; }
}

@media screen and (max-width: 1367px) {
    /* About */
    .about-group { width: 32vw; margin-left: 16vw; }
    .section-subtitle { padding-top: 15px; }
    /* Car */
    .car-button { padding: 16px 20px 12px; }
    /* Process */
    .process-container { margin-left: 26vw; }
    .process-button { margin-left: 25.5%; }
    /* Footer */
    .footer-container { left: 40px; }
    .line-1 { width: 60%; }
    .line-2 { width: 80%; }
    .line-3 { width: 68%; }
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .title-group { top: 100px; left: 25px; }
  .home-title { font-size: 2rem; font-weight: bold; }
  .home-subtitle { font-size: 1.3rem; }
  .home-subtitle-2 { font-size: 1.3rem; }
  video { object-fit: cover; }
  #video-background { position: absolute; width: 100%; height: 100vh; }
  .about-container { flex-direction: column; }
  .about-group { width: auto; margin: 25px; }
  .section-subtitle { font-size: 1.2rem; }
  .about-text { font-size: 1rem; }
  .about-img img { height: 340px; }
  .button { padding: 16px 16px 12px; font-size: 1rem; }
  .margin-auto { left: unset; }
  .quote-title { margin: 15px; font-size: 1.4rem; }
  .process-container { margin-left: 32vw; }
  .process-title { font-size: 2.6rem; }
  .process-subtitle { font-size: 1.2rem; margin: 15px; }
  .process-caption-2 { margin-left: -61px; }
  .process-caption-3 { margin-left: -40px; }
  .process-caption-small-3 { margin-left: 15px; }
  .process-button { margin-left: -23.5%; }
  .fa-key { margin-left: -19px; }
  #footer { height: 450px; }
  .footer-container { left: 15px; }
  .footer-icon { margin-right: 37px; }
}

/* iPhone X */
@media screen and (max-width: 376px) {
  .title-group { left: 15px; margin-right: 10px; }
  .home-title { font-size: 1.8rem; }
  #footer { height: 470px; }
  .button { padding: 10px 14px 8px; font-size: .9rem; }
  .process-caption-2 { margin-left: -79px; position: relative; left: 23px; }
  .footer-container { left: 5px; width: 80%; }
  .footer-icon { margin-right: 35px; }
} 