<div class="home-wrapper">

  <!-- Home Section -->
  <section id="home">
    <!-- Video Background -->
    <video loop muted autoplay playsinline id="video-background">
      <source src="../../../assets/img/car-video.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
    </video>
    <div class="video-overlay"></div>

    <!-- Title -->
    <div class="title-group">
      <h1 class="home-title show-desktop">
        Get Car Financing
        with <br>Good or Bad Credit
      </h1>
      <h1 class="home-title show-mobile">
        Get Car Financing
        with Good or Bad Credit
      </h1>
      <h2 class="home-subtitle">
        Drive the car of your dreams with low rates & fast approval!
      </h2>
      <div class="button-group">
        <a routerLink="/budget" routerLinkActive="active"><button class="button">Select Budget</button></a>
        <a routerLink="/budget" routerLinkActive="active"><button class="button">Choose Vehicle</button></a>
      </div>
      <h2 class="home-subtitle-2">
        We will send you the BEST Ontario Financing Offers!
      </h2>
    </div>
  </section>

  <!-- About Section -->
  <section id="about">
    <h1 class="section-title">Our Message</h1>
    <div class="about-container">
      <div class="about-group">
        <h2 class="section-subtitle">Smart Auto Group's mission is to provide its valued customers with an easier, faster, and hassle-free car buying experience.</h2>
        <p class="about-text">Shop for your new car and get pre-approved right from your mobile device from anywhere in Ontario. All financing options will be within the customer's budget because the customer is in charge, not some pushy salesperson. Our goal is for our customers to never set foot in a car dealership again with approval. With this approach, we ensure that our customers will always save time and money.</p>
      </div>
      <div class="about-img">
          <img src="../../../assets/img/girl.png" alt="A professionally dressed woman with a headset.">
      </div>
    </div>

  </section>

  <!-- Reviews Section -->
  <section id="reviews">
    <!-- Review Carousel (Desktop) -->
    <div class="container carousel-container show-desktop" id="review-carousel">
      <div id="dataInfo">
        <h2 class="section-title">Customer Reviews</h2>
        <div id="reviewCarouselDesktop" class="carousel slide" data-ride="carousel" data-interval="8000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <div class="card review-container">
                    <img src="../../../assets/img/user-1.jpg" height="100px" width="100px" alt="Wendy Clark">
                    <h2 class="review-name">Wendy Clark</h2>
                    <div class="review-stars">
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                    </div>
                    <h6 class="review-subtitle">Google Review</h6>
                    <p class="review-text">"I just bought my first car thanks to the excellent customer service at Smart Auto Group!! The experience was fast and simple, I was able to fill out the application on my phone and within less than a week I had my brand new car!"</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="card review-container">
                    <img src="../../../assets/img/user-4.jpg" height="100px" width="100px" alt="Al Mamoon">
                    <h2 class="review-name">Al Mamoon</h2>
                    <div class="review-stars">
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                    </div>
                    <h6 class="review-subtitle">Google Review</h6>
                    <p class="review-text">"I was worried that I wouldn’t be able to afford a car but this process laid out in a very simple way and helped me fit it into my budget. George was very patient and answered all my questions and made the process easy."</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="card review-container">
                    <img src="../../../assets/img/user-3.jpg" height="100px" width="100px" alt="Laura Monte">
                    <h2 class="review-name">Laura Monte</h2>
                    <div class="review-stars">
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                    </div>
                    <h6 class="review-subtitle">Google Review</h6>
                    <p class="review-text">"The folks at Smart Auto Group were very professional and extremely helpful. I got answers for things before I even had to ask. Look forward to getting my next vehicle through them!"</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <div class="card review-container">
                    <img src="../../../assets/img/user-5.jpg" height="100px" width="100px" alt="Barry Smith">
                    <h2 class="review-name">Barry Smith</h2>
                    <div class="review-stars">
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                    </div>
                    <h6 class="review-subtitle">Google Review</h6>
                    <p class="review-text">"George did a great job throughout the entire process and made me feel confident that I was getting the best possible deal!"</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="card review-container">
                    <img src="../../../assets/img/user-2.jpg" height="100px" width="100px" alt="Grace Williams">
                    <h2 class="review-name">Grace Williams</h2>
                    <div class="review-stars">
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                    </div>
                    <h6 class="review-subtitle">Google Review</h6>
                    <p class="review-text">"I had an experience with Smart Auto Group nothing short of excellent. I was nervous about approaching salesmen at dealerships because I had gotten a bad deal on my last car. This time I was able to set my own terms!"</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="card review-container">
                    <img src="../../../assets/img/user-6.jpg" height="100px" width="100px" alt="Craig Wong">
                    <h2 class="review-name">Craig Wong</h2>
                    <div class="review-stars">
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                    </div>
                    <h6 class="review-subtitle">Google Review</h6>
                    <p class="review-text">"Thank you so much, I’m driving a new car because of you!"</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <a class="carousel-control-prev" href="#reviewCarouselDesktop" role="button" data-slide="prev">
              <i class="fas fa-chevron-left arrow-icon"></i>
            </a>
            <a class="carousel-control-next" href="#reviewCarouselDesktop" role="button" data-slide="next">
              <i class="fas fa-chevron-right arrow-icon"></i>
            </a>
          </div>
        </div>      
      </div>

      <!-- Review Carousel (Mobile) -->
      <div class="container-fluid mobile-carousel-container show-mobile" id="mobile-review-carousel">
        <h2 class="section-title">Customer Reviews</h2>
        <div id="reviewCarouselMobile" class="carousel slide" data-ride="carousel" data-interval="8000">
          <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-md-12 active">
              <div class="card review-container">
                <img src="../../../assets/img/user-1.jpg" height="100px" width="100px" alt="Wendy Clark">
                <h2 class="review-name">Wendy Clark</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"I just bought my first car thanks to the excellent customer service at Smart Auto Group!! The experience was fast and simple, I was able to fill out the application on my phone and within less than a week I had my brand new car!"</p>
              </div>
            </div>
            <div class="carousel-item col-md-12">
              <div class="card review-container">
                <img src="../../../assets/img/user-4.jpg" height="100px" width="100px" alt="Al Mamoon">
                <h2 class="review-name">Al Mamoon</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"I was worried that I wouldn’t be able to afford a car but this process laid out in a very simple way and helped me fit it into my budget. George was very patient and answered all my questions and made the process easy."</p>
              </div>
            </div>
            <div class="carousel-item col-md-12">
              <div class="card review-container">
                <img src="../../../assets/img/user-3.jpg" height="100px" width="100px" alt="Laura Monte">
                <h2 class="review-name">Laura Monte</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"The folks at Smart Auto Group were very professional and extremely helpful. I got answers for things before I even had to ask. Look forward to getting my next vehicle through them!"</p>
              </div>
            </div>
            <div class="carousel-item col-md-12">
              <div class="card review-container">
                <img src="../../../assets/img/user-5.jpg" height="100px" width="100px" alt="Barry Smith">
                <h2 class="review-name">Barry Smith</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"George did a great job throughout the entire process and made me feel confident that I was getting the best possible deal!"</p>
              </div>
            </div>
            <div class="carousel-item col-md-12">
              <div class="card review-container">
                <img src="../../../assets/img/user-2.jpg" height="100px" width="100px" alt="Grace Williams">
                <h2 class="review-name">Grace Williams</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"I had an experience with Smart Auto Group nothing short of excellent. I was nervous about approaching salesmen at dealerships because I had gotten a bad deal on my last car. This time I was able to set my own terms!"</p>
              </div>
            </div>
            <div class="carousel-item col-md-12">
              <div class="card review-container">
                <img src="../../../assets/img/user-6.jpg" height="100px" width="100px" alt="Craig Wong">
                <h2 class="review-name">Craig Wong</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"Thank you so much, I’m driving a new car because of you!"</p>
              </div>
            </div>
          </div>
            <a class="carousel-control-prev" href="#reviewCarouselMobile" role="button" data-slide="prev" style="position: absolute;">
              <i class="fa fa-chevron-left fa-lg text-muted"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#reviewCarouselMobile" role="button" data-slide="next">
              <i class="fa fa-chevron-right fa-lg text-muted"></i>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
    
    </section>

    <!-- Cars Section -->
    <section id="cars">
    <!-- Car Carousel (Desktop) -->
    <div class="container carousel-container show-desktop" id="car-carousel">
      <div id="dataInfo">
        <h2 class="section-title">Vehicle Selection</h2>
        <div id="carCarouselDesktop" class="carousel slide" data-ride="carousel" data-interval="8000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="card car-container">
                    <img src="../../../assets/img/car-1.png" class="card-img-top img-fluid" alt="4-Door Sedan">
                    <h4 class="car-name">&nbsp;&nbsp;4-Door Sedan
                      <span><i class="fas fa-info-circle info-circle" title="Hyundai Elentra"></i></span>
                    </h4>
                    <a routerLink="/budget" routerLinkActive="active"><button class="button car-button col-md-4 margin-auto">Select</button></a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card car-container">
                    <img src="../../../assets/img/car-2.png" class="card-img-top img-fluid" alt="Pickup Truck">
                    <h4 class="car-name">&nbsp;&nbsp;Pickup Truck
                      <span><i class="fas fa-info-circle info-circle" title="Dodge Ram"></i></span>
                    </h4>
                    <a routerLink="/budget" routerLinkActive="active"><button class="button car-button col-md-4 margin-auto">Select</button></a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card car-container">
                    <img src="../../../assets/img/car-3.png" class="card-img-top img-fluid" alt="Sport Utility Vehicle">
                    <h4 class="car-name no-mobile">&nbsp;&nbsp;Sport Utility Vehicle
                        <span><i class="fas fa-info-circle info-circle" title="Nissan Rogue"></i></span>
                    </h4>
                    <h4 class="car-name mobile">&nbsp;&nbsp;SUV
                        <span><i class="fas fa-info-circle info-circle" title="Nissan Rogue"></i></span>
                    </h4>
                    <a routerLink="/budget" routerLinkActive="active"><button class="button car-button col-md-4 margin-auto">Select</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="card car-container">
                    <img src="../../../assets/img/car-4.png" class="card-img-top img-fluid" alt="Minivan">
                    <h4 class="car-name">Minivan 
                        <span><i class="fas fa-info-circle info-circle" title="Dodge Caravan"></i></span>
                      </h4>
                      <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card car-container">
                    <img src="../../../assets/img/car-5.png" class="card-img-top img-fluid" alt="Electric Car">
                    <h4 class="car-name">Hybrid/Electric
                        <span><i class="fas fa-info-circle info-circle" title="Honda Accord Hybrid"></i></span>
                      </h4>
                      <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card car-container">
                    <img src="../../../assets/img/car-6.png" class="card-img-top img-fluid" alt="Exotic Car">
                    <h4 class="car-name">Exotic 
                        <span><i class="fas fa-info-circle info-circle" title="Tesla Model S"></i></span>
                      </h4>
                      <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <a class="carousel-control-prev" href="#carCarouselDesktop" role="button" data-slide="prev">
                <i class="fas fa-chevron-left arrow-icon"></i>
            </a>
            <a class="carousel-control-next" href="#carCarouselDesktop" role="button" data-slide="next">
                <i class="fas fa-chevron-right arrow-icon"></i>
            </a>
          </div>
        </div>      
      </div>

      <!-- Car Carousel (Mobile) -->
      <div class="container-fluid mobile-carousel-container show-mobile" id="mobile-car-carousel">
          <h2 class="section-title">Vehicle Selection</h2>
          <div id="carCarouselMobile" class="carousel slide" data-ride="carousel" data-interval="8000">
              <div class="carousel-inner row w-100 mx-auto" role="listbox">
                  <div class="carousel-item col-md-12 active">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-1.png" class="card-img-top img-fluid" alt="4-Door Sedan">
                      <h4 class="car-name">4-Door Sedan
                        <span><i class="fas fa-info-circle info-circle" title="Hyundai Elentra"></i></span>
                      </h4>
                      <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                    </div>
                  </div>
                  <div class="carousel-item col-md-12">
                    <div class="card car-container">
                     <img src="../../../assets/img/car-2.png" class="card-img-top img-fluid" alt="Pickup Truck">
                     <h4 class="car-name">Pickup Truck
                        <span><i class="fas fa-info-circle info-circle" title="Dodge Ram"></i></span>
                      </h4>
                      <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                    </div>
                  </div>
                  <div class="carousel-item col-md-12">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-3.png" class="card-img-top img-fluid" alt="Sport Utility Vehicle">
                      <h4 class="car-name">Sport Utility Vehicle
                          <span><i class="fas fa-info-circle info-circle" title="Nissan Rogue"></i></span>
                        </h4>
                        <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                    </div>  
                  </div>
                  <div class="carousel-item col-md-12">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-4.png" class="card-img-top img-fluid" alt="Minivan">
                      <h4 class="car-name">Minivan
                          <span><i class="fas fa-info-circle info-circle" title="Dodge Caravan"></i></span>
                        </h4>
                        <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                    </div>
                  </div>
                  <div class="carousel-item col-md-12">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-5.png" class="card-img-top img-fluid" alt="Electric Car">
                      <h4 class="car-name">Hybrid/Electric
                          <span><i class="fas fa-info-circle info-circle" title="Honda Accord Hybrid"></i></span>
                        </h4>
                        <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                    </div>
                  </div>
                  <div class="carousel-item col-md-12">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-6.png" class="card-img-top img-fluid" alt="Exotic Car">
                      <h4 class="car-name">Exotic
                          <span><i class="fas fa-info-circle info-circle" title="Tesla Model S"></i></span>
                        </h4>
                        <a routerLink="/budget" routerLinkActive="active"><button class="button car-button margin-auto">Select</button></a>
                    </div>
                  </div>
      
              </div>
              <a class="carousel-control-prev" href="#carCarouselMobile" role="button" data-slide="prev">
                  <i class="fa fa-chevron-left fa-lg text-muted"></i>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-faded" href="#carCarouselMobile" role="button" data-slide="next">
                  <i class="fa fa-chevron-right fa-lg text-muted"></i>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>

      <h2 class="quote-title">"Drive away with the vehicle you've always wanted!"</h2>
      </section>

      <!-- Process Section -->
      <section id="process">
        <h1 class="process-title">GET YOUR CAR IN 48 HOURS</h1>
        <h2 class="process-subtitle">
          <u>Whether you are employed or self-employed,</u>
          we will get you approved at the best possible interest rate.
        </h2>
        <div class="container process-container">
          <div class="row justify-content-around">
            <div class="col-md-4 col-sm-12">
              <i class="fas fa-clipboard-list process-icon"></i>
              <p class="process-caption-1">FILL OUT</p>
              <p class="process-caption-small-1">(30 Seconds)</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <i class="fas fa-clipboard-check process-icon"></i>
              <p class="process-caption-2">GET APPROVED</p>
              <p class="process-caption-small-2">(24 Hours)</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <i class="fas fa-key process-icon"></i>
              <p class="process-caption-3">DRIVE AWAY</p>
              <p class="process-caption-small-3">(2-4 Days)</p>
            </div>
          </div>
          <div class="process-button">
            <a routerLink="/budget" routerLinkActive="active"><button class="button">Get Approved Today</button></a>
          </div>
        </div>
      </section>

      <!-- Why Us -->
      <section id="whyUs">
        <h1 class="section-title">Why Us?</h1>
        <div class="container custom-text">
          We specialize in Credit Re-Build, we understand when your score is not what lenders wants to see, we lose our confident walking to any Dealership or Financial bank to ask for something we need in urgent. Did you know? 1 in 5 Canadians are Score of 650 and below? and because of that, most of clients think to themselves “I have no more options.” Well, that is incorrect, our Credit Analyst has been in the industry over 16 years and our Credit Consultant has been over 2 decades in the Credit Department.<br/><br/>
          We have successfully gotten clients Approved even with double bankruptcy; we all make mistakes in the past but the only thing that’s stopping us not to repeat the same mistake is lack of information and this information is purposely kept away from you.<br/><br/>
          You would require to hire a Credit Expert/Credit Analyst to show you how to properly re-build your credit but most of us are only told to get a Credit Card, use it and pay it off, did anyone ever educate you when to use it? How to use it? When to pay it off? How much to pay off? You will receive a <b>FREE</b> Credit Consultation from our Credit Analyst at <b>NO CHARGE</b><br/><br/>
          Our Goal is to assist our clients to get their life back on track and get them to be confident walking into any store and feel like a VIP. We truly sincerely and genuinely want the best of our client and that’s part of Code of Work Ethics.<br/><br/>
          Cheers!<br/><br/>
          Who can get Approved: uBer Drivers, Lyft Drivers, Taxi Drivers, Self Employed, International Students, Refugees, Work Visa, Student Visa, G1 License</div>
      </section>

      <!-- Map Section -->
      <section id="map">
        <div class="iframe-container">
          <img src="../../../assets/img/google.png" alt="Google Logo" class="google-logo">
          <iframe src="http://maps.google.com/maps?q=43.766277, -79.466916&z=15&output=embed" width="100%" height="100%" frameborder="0" style="border:0; position:absolute; top:0; left:0" allowfullscreen></iframe>
        </div>
      </section>

      <!-- Footer Section -->
      <section id="footer">
        <div class="container footer-container">
          <div class="row footer-row-1">
            <div class="col-md-4 col-sm-12">
              <h3 class="footer-title">Contact Us</h3>
              <hr class="footer-line line-1"/>
              <p class="footer-text">
                10-4544 Dufferin Street<br>
                North York, Ontario M3H 3X2<br>
                <span id="phone-number"><a href="tel:+1-416-821-2068"><u>(416) 821-2068</u></a></span>
              </p>
            </div>
            <div class="col-md-4 col-sm-12 middle-footer">
              <h3 class="footer-title">Business Hours</h3>
              <hr class="footer-line line-2"/>
              <p class="footer-text">
                Monday - Thurs. <span style="float:right"> 9:00am - 7:00pm</span><br>
                Friday<span style="float:right"> 9:00am - 6:00pm</span><br>
                Saturday<span style="float:right"> 9:00am - 5:00pm</span>
              </p>
            </div>
            <div class="col-md-4 col-sm-12">
              <h3 class="footer-title">Social Media</h3>
              <hr class="footer-line line-3"/>
              <div class="footer-icons">
                <a href="https://www.facebook.com/smartautogroup" target="_blank" rel="noopener" title="Facebook"><i class="fab fa-facebook footer-icon"></i></a>
                <a href="https://twitter.com/SmartAutoGroup1" target="_blank" rel="noopener" title="Twitter"><i class="fab fa-twitter footer-icon"></i></a>
                <a href="https://www.instagram.com/Approved.auto.leasing/" target="_blank" rel="noopener" title="Instagram"><i class="fab fa-instagram footer-icon"></i></a>
                <a href="https://photos.google.com/photo/AF1QipMBqz7ndT1yn7kB1ZskUxmarjkf06VzikRq7VIT" target="_blank" rel="noopener" title="WeChat"><i class="fab fa-weixin footer-icon"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Apply Now -->
      <div class="action-button-container">
        <a routerLink="/budget" routerLinkActive="active"><h4 class="action-button">Click here to Apply Now!</h4></a>
      </div>

</div>

