<div class="home-wrapper">

  <!-- Home Section -->
  <section id="home">
    <!-- Video Background -->
    <video loop muted autoplay id="video-background">
      <source src="../../../assets/img/car-video.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay"></div>

    <!-- Title -->
    <div class="title-group">
      <h1 class="home-title">
        Get Car Financing
        with <br>Good or Bad Credit
      </h1>
      <h2 class="home-subtitle">
        Drive the car of your dreams with low rates & fast approval!
      </h2>
      <div class="button-group">
        <button class="button">Select Budget</button>
        <button class="button">Choose Vehicle</button>
      </div>
      <h2 class="home-subtitle-2">
        We will send you the BEST Ontario Financing Offers!
      </h2>
    </div>

    <div class="scroll-container">
      <i class="fas fa-chevron-down scroll-down"></i>
    </div>
  </section>

  <!-- Reviews Section -->
  <section id="reviews">
    <!-- Review Carousel -->
    <div class="container carousel-container" id="review-carousel">
        <div id="dataInfo">
          <h2 class="section-title">Customer Reviews</h2>
          <div id="myCarousel-2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card review-container">
                      <img src="../../../assets/img/user-1.jpg" height="100px" width="100px" alt="">
                      <h2 class="review-name">Wendy Clark</h2>
                      <div class="review-stars">
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                      </div>
                      <h6 class="review-subtitle">Google Review</h6>
                      <p class="review-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe eum comm est cupidit unde necessitatibus eveniet consectetur, exercitationem dolore molestiae, nemo odit reprehenderit rerum earum corporis. Veritatis, porro ea?"</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card review-container">
                        <img src="../../../assets/img/user-4.jpg" height="100px" width="100px" alt="">
                        <h2 class="review-name">Greg Kenney</h2>
                        <div class="review-stars">
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                        </div>
                        <h6 class="review-subtitle">Google Review</h6>
                        <p class="review-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe eum comm est cupidit unde necessitatibus eveniet consectetur, exercitationem dolore molestiae, nemo odit reprehenderit rerum earum corporis. Veritatis, porro ea?"</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card review-container">
                        <img src="../../../assets/img/user-3.jpg" height="100px" width="100px" alt="">
                        <h2 class="review-name">Laura Monte</h2>
                        <div class="review-stars">
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                        </div>
                        <h6 class="review-subtitle">Google Review</h6>
                        <p class="review-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe eum comm est cupidit unde necessitatibus eveniet consectetur, exercitationem dolore molestiae, nemo odit reprehenderit rerum earum corporis. Veritatis, porro ea?"</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card review-container">
                        <img src="../../../assets/img/user-5.jpg" height="100px" width="100px" alt="">
                        <h2 class="review-name">Trent Barry</h2>
                        <div class="review-stars">
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                        </div>
                        <h6 class="review-subtitle">Google Review</h6>
                        <p class="review-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe eum comm est cupidit unde necessitatibus eveniet consectetur, exercitationem dolore molestiae, nemo odit reprehenderit rerum earum corporis. Veritatis, porro ea?"</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card review-container">
                        <img src="../../../assets/img/user-2.jpg" height="100px" width="100px" alt="">
                        <h2 class="review-name">Grace Kelly</h2>
                        <div class="review-stars">
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                        </div>
                        <h6 class="review-subtitle">Google Review</h6>
                        <p class="review-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe eum comm est cupidit unde necessitatibus eveniet consectetur, exercitationem dolore molestiae, nemo odit reprehenderit rerum earum corporis. Veritatis, porro ea?"</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card review-container">
                        <img src="../../../assets/img/user-6.jpg" height="100px" width="100px" alt="">
                        <h2 class="review-name">Craig Wong</h2>
                        <div class="review-stars">
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                          <i class="fas fa-star star"></i>
                        </div>
                        <h6 class="review-subtitle">Google Review</h6>
                        <p class="review-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe eum comm est cupidit unde necessitatibus eveniet consectetur, exercitationem dolore molestiae, nemo odit reprehenderit rerum earum corporis. Veritatis, porro ea?"</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel-2" role="button" data-slide="prev">
                <i class="fas fa-chevron-left arrow-icon"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel-2" role="button" data-slide="next">
                <i class="fas fa-chevron-right arrow-icon"></i>
            </a>
          </div>
      
        </div>      
      </div>
    
    </section>
    <section id="cars">
      <!-- Car Carousel -->
    <div class="container carousel-container" id="car-carousel">
        <div id="dataInfo">
          <h2 class="section-title">Available Vehicles</h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-1.png" class="card-img-top img-fluid" alt="">
                      <h4 class="car-name">BMW M4
                        <span><i class="fas fa-info-circle info-circle"></i></span>
                      </h4>
                      <button class="button col-md-4 margin-auto">Select</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card car-container">
                     <img src="../../../assets/img/car-2.png" class="card-img-top img-fluid" alt="">
                     <h4 class="car-name">Dodge Charger
                        <span><i class="fas fa-info-circle info-circle"></i></span>
                      </h4>
                      <button class="button col-md-4 margin-auto">Select</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-3.png" class="card-img-top img-fluid" alt="">
                      <h4 class="car-name">Ford Mustang
                          <span><i class="fas fa-info-circle info-circle"></i></span>
                        </h4>
                        <button class="button col-md-4 margin-auto">Select</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-4.png" class="card-img-top img-fluid" alt="">
                      <h4 class="car-name">Mercedes S-Class
                          <span><i class="fas fa-info-circle info-circle"></i></span>
                        </h4>
                        <button class="button col-md-4 margin-auto">Select</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-5.png" class="card-img-top img-fluid" alt="">
                      <h4 class="car-name">Mitsubishi Lancer
                          <span><i class="fas fa-info-circle info-circle"></i></span>
                        </h4>
                        <button class="button col-md-4 margin-auto">Select</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card car-container">
                      <img src="../../../assets/img/car-6.png" class="card-img-top img-fluid" alt="">
                      <h4 class="car-name">Volkswagen Jetta 
                          <span><i class="fas fa-info-circle info-circle"></i></span>
                        </h4>
                        <button class="button col-md-4 margin-auto">Select</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class="fas fa-chevron-left arrow-icon"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class="fas fa-chevron-right arrow-icon"></i>
            </a>
          </div>
      
        </div>      
      </div>
      </section>

        <!-- Makes Carousel -->
        <!-- <div class="slider">
            <div class="slide-track">
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
              </div>
              <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
              </div>
            </div>
          </div> -->

</div>

