.reviews-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  overflow-y: auto;
  font-size: 1.2rem;
  padding-top: 80px;
}

.page-title-container {
  height: 180px;
  width: 100%;
  background-color: #166CBF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1800px) {
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .reviews-wrapper { padding-top: 50px; }
  .page-title { font-size: 2.2rem; text-align: center; margin: auto 50px; }
}