<div class="reviews-wrapper">
  <div class="page-title-container">
    <h1 class="page-title">Customer Reviews</h1>
  </div>
  <!-- Review Carousel (Desktop) -->
  <div class="container carousel-container show-desktop" id="review-carousel">
    <div id="dataInfo">
      <h2 class="section-title">Happy Customers Share Their Experience</h2>
      <div id="reviewCarouselDesktop" class="carousel slide" data-ride="carousel" data-interval="8000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="card review-container">
                  <img src="../../../assets/img/user-1.jpg" height="100px" width="100px" alt="">
                  <h2 class="review-name">Wendy Clark</h2>
                  <div class="review-stars">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                  </div>
                  <h6 class="review-subtitle">Google Review</h6>
                  <p class="review-text">"I just bought my first car thanks to the excellent customer service at Smart Auto Group!! The experience was fast and simple, I was able to fill out the application on my phone and within less than a week I had my brand new car!"</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="card review-container">
                  <img src="../../../assets/img/user-4.jpg" height="100px" width="100px" alt="">
                  <h2 class="review-name">Al Mamoon</h2>
                  <div class="review-stars">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                  </div>
                  <h6 class="review-subtitle">Google Review</h6>
                  <p class="review-text">"I was worried that I wouldn’t be able to afford a car but this process laid out in a very simple way and helped me fit it into my budget. George was very patient and answered all my questions and made the process easy."</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="card review-container">
                  <img src="../../../assets/img/user-3.jpg" height="100px" width="100px" alt="">
                  <h2 class="review-name">Laura Monte</h2>
                  <div class="review-stars">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                  </div>
                  <h6 class="review-subtitle">Google Review</h6>
                  <p class="review-text">"The folks at Smart Auto Group were very professional and extremely helpful. I got answers for things before I even had to ask. Look forward to getting my next vehicle through them!"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="card review-container">
                  <img src="../../../assets/img/user-5.jpg" height="100px" width="100px" alt="">
                  <h2 class="review-name">Barry Smith</h2>
                  <div class="review-stars">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                  </div>
                  <h6 class="review-subtitle">Google Review</h6>
                  <p class="review-text">"George did a great job throughout the entire process and made me feel confident that I was getting the best possible deal!"</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="card review-container">
                  <img src="../../../assets/img/user-2.jpg" height="100px" width="100px" alt="">
                  <h2 class="review-name">Grace Williams</h2>
                  <div class="review-stars">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                  </div>
                  <h6 class="review-subtitle">Google Review</h6>
                  <p class="review-text">"I had an experience with Smart Auto Group nothing short of excellent. I was nervous about approaching salesmen at dealerships because I had gotten a bad deal on my last car. This time I was able to set my own terms!"</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="card review-container">
                  <img src="../../../assets/img/user-6.jpg" height="100px" width="100px" alt="">
                  <h2 class="review-name">Craig Wong</h2>
                  <div class="review-stars">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                  </div>
                  <h6 class="review-subtitle">Google Review</h6>
                  <p class="review-text">"Thank you so much, I’m driving a new car because of you!"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#reviewCarouselDesktop" role="button" data-slide="prev">
            <i class="fas fa-chevron-left arrow-icon"></i>
        </a>
        <a class="carousel-control-next" href="#reviewCarouselDesktop" role="button" data-slide="next">
            <i class="fas fa-chevron-right arrow-icon"></i>
        </a>
      </div>
    </div>      
  </div>

  <!-- Review Carousel (Mobile) -->
  <div class="container-fluid mobile-carousel-container show-mobile" id="mobile-review-carousel">
    <div id="reviewCarouselMobile" class="carousel slide" data-ride="carousel" data-interval="8000">
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-md-3 active">
              <div class="card review-container">
                <img src="../../../assets/img/user-1.jpg" height="100px" width="100px" alt="">
                <h2 class="review-name">Wendy Clark</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"I just bought my first car thanks to the excellent customer service at Smart Auto Group!! The experience was fast and simple, I was able to fill out the application on my phone and within less than a week I had my brand new car!"</p>
              </div>
            </div>
            <div class="carousel-item col-md-3">
              <div class="card review-container">
                <img src="../../../assets/img/user-4.jpg" height="100px" width="100px" alt="">
                <h2 class="review-name">Al Mamoon</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"I was worried that I wouldn’t be able to afford a car but this process laid out in a very simple way and helped me fit it into my budget. George was very patient and answered all my questions and made the process easy."</p>
              </div>
            </div>
            <div class="carousel-item col-md-3">
              <div class="card review-container">
                <img src="../../../assets/img/user-3.jpg" height="100px" width="100px" alt="">
                <h2 class="review-name">Laura Monte</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"The folks at Smart Auto Group were very professional and extremely helpful. I got answers for things before I even had to ask. Look forward to getting my next vehicle through them!"</p>
              </div>
            </div>
            <div class="carousel-item col-md-3">
              <div class="card review-container">
                <img src="../../../assets/img/user-5.jpg" height="100px" width="100px" alt="">
                <h2 class="review-name">Barry Smith</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"George did a great job throughout the entire process and made me feel confident that I was getting the best possible deal!"</p>
              </div>
            </div>
            <div class="carousel-item col-md-3">
              <div class="card review-container">
                <img src="../../../assets/img/user-2.jpg" height="100px" width="100px" alt="">
                <h2 class="review-name">Grace Williams</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"I had an experience with Smart Auto Group nothing short of excellent. I was nervous about approaching salesmen at dealerships because I had gotten a bad deal on my last car. This time I was able to set my own terms!"</p>
              </div>
            </div>
            <div class="carousel-item col-md-3">
              <div class="card review-container">
                <img src="../../../assets/img/user-6.jpg" height="100px" width="100px" alt="">
                <h2 class="review-name">Craig Wong</h2>
                <div class="review-stars">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                </div>
                <h6 class="review-subtitle">Google Review</h6>
                <p class="review-text">"Thank you so much, I’m driving a new car because of you!"</p>
              </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#reviewCarouselMobile" role="button" data-slide="prev" style="position: absolute;">
            <i class="fa fa-chevron-left fa-lg text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#reviewCarouselMobile" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-lg text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!-- Apply Now -->
    <div class="action-button-container">
      <a routerLink="/budget" routerLinkActive="active"><h4 class="action-button">Click here to Apply Now!</h4></a>
    </div>

</div>