.reviews-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  font-size: 1.2rem;
  padding-top: 80px;
}

/* Title */
.page-title-container {
  height: 180px;
  width: 100%;
  background-color: #166CBF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 2.5rem;
}

/* Carousel */
.container { max-width: unset !important; }
.card { border: none; }
.carousel-container { width: 80vw !important; }
.carousel-control-next { right: -10%; }
.carousel-control-prev { left: -10%; }
.arrow-icon { color: black; font-size: 2rem; }
.mobile-carousel-container { width: 85%; }

/* Review Carousel */
#review-carousel { margin-top: 50px; }
.review-container img { 
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
}
.review-name { 
  text-align: center;
  margin-top: 15px;
  font-size: 1.8rem;
}
.review-stars { margin: auto; }
.star { color: #F8D64E; }
.review-subtitle { text-align: center; }
.review-text { text-align: center; margin-top: 10px; }

/* ------------------------------------ */
.show-desktop { display: inherit; }
.show-mobile { display: none; }
.action-button-container { display: none; }

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1800px) {
  .reviews-wrapper { padding-top: 50px; }
  .page-title-container { height: 120px; }
}

/* iPad - Horizontal */
@media screen and (min-width: 900px) and (max-width: 1025px) {
  #review-carousel { margin-bottom: 70px; }
  .section-title { font-size: 2rem; }
  .review-text { min-height: 280px; }
}

/* iPad */
@media screen and (min-width: 601px) and (max-width: 769px) {
  .carousel-container { width: 94vw !important; }
  .section-title { font-size: 1.8rem; }
  .review-text { min-height: 224px; }
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .reviews-wrapper { height: fit-content; }
  .show-desktop { display: none; }
  .show-mobile { display: inherit; }
  .reviews-wrapper { padding-top: 50px; }
  .page-title { font-size: 2.2rem; text-align: center; margin: auto 50px; }
  #reviewCarouselMobile .review-text { min-height: 224px; }
  #mobile-review-carousel { margin-top: 25px; }
  .section-title { margin: 25px 50px; font-size: 1.8rem; }
  .section-subtitle { font-size: 1.2rem; margin: 25px; }
  .action-button-container { 
    height: 60px; 
    width: 100%; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    background-color: white; 
    z-index: 30; 
    display: inherit;
    border-top: 2.5px solid black;
  }
  .action-button { text-align: center; text-transform: uppercase; margin-top: 12px; }
}

/* Large Smartphone - Horizontal */
@media screen and (max-width: 850px) and (max-height: 500px) {
  .section-title { display: none; }
  #review-carousel { margin-top: 5px; }
  .carousel-container { width: 93vw !important; margin-bottom: 30px; }
  .carousel-control-next, .carousel-control-prev { width: 5% !important; }
  .carousel-control-next { right: -5% !important; }
  .carousel-control-prev { left: -5% !important; }
}

/* iPhone X - Horizontal*/
@media screen and (max-width: 815px) and (max-height: 376px) {
  .page-title { font-size: 2rem; }
  .review-text { min-height: 180px; }
  .show-desktop { display: none; }
  .show-mobile { display: inherit; }
}

/* iPhone */
@media screen and (max-width: 376px) {
  #reviewCarouselMobile .review-text { min-height: 224px; font-size: 1rem; }
  #mobile-review-carousel { margin-top: -15px; position: relative; z-index: -1; }
  .review-container > img { height: 75px; width: 75px; }
  .review-name { font-size: 1.4rem; }
}