<div class="faqs-wrapper">
  <div class="page-title-container">
    <h1 class="page-title">Frequently Asked Questions</h1>
  </div>
  <!-- Section -->
  <h2 class="section-title">Fast, Easy and Hassle-Free Auto Loan Approval</h2>
  <!-- General -->
  <div class="question-container">
    <h4 class="question-title">GENERAL</h4>
    <!-- Questions -->
    <h4 class="question">
      Why should I choose Smart Auto Group?
    </h4>
    <p class="answer">
        In Approval Team, We don’t discriminate. We accept all credit scores. We look at your future, not your past! We have helped many people from Ontario get any type of vehicle that they want within the budget they can afford.
    </p>
    <h4 class="question">
      What information will you need from me?
    </h4>
    <p class="answer">
        We only need your basic information which will help us match you with the best offer we have available for you. Trust that we value your privacy, and your information will never be shared.
    </p>
    <h4 class="question">
      Will this help me build my credit?
    </h4>
    <p class="answer">
        Typically upon purchase of a vehicle, the credit bureau receives a report of your payments. Through prompt payments, a vehicle purchase can be a potential factor in credit repair.
    </p>
    <h4 class="question">
      How will I know the ammount I've been approved for?
    </h4>
    <p class="answer">
        There are particular aspects to be considered in computing the pre-approval amount. Once the financial expert handling your account tied you up with the suited vehicle within your monthly budget, you will then be informed.
    </p>
    <h4 class="question">
      Where can I find your office?
    </h4>
    <p class="answer">
        We are located in Ontario, Canada.
    </p>
    <h4 class="question">
      How long do I have to wait for my approval update?
    </h4>
    <p class="answer">
        You can complete our application in as fast as two minutes. Then, you can expect a call from us within 24 hours. If we happen to receive your application on a very busy time, it may take up to 48 hours for you to get feedback.
    </p>
    <h4 class="question">
      Do you accept trade-ins?
    </h4>
    <p class="answer">
        We gladly deal with trade-ins, regardless of your credit balance with the vehicle. We can even lessen your monthly payments by turning your trade-in as a down payment.
    </p>
    <h4 class="question">
      What are your terms and conditions?
    </h4>
    <p class="answer">
        We promise that our online pre-approval service is going to be fast, simple and hassle-free. You can easily access our terms and conditions here.
    </p>
    <h4 class="question">
      I had been rejected in my previous car loan. Can you still help me?
    </h4>
    <p class="answer">
        Yes! As we have mentioned, we don’t discriminate. You are more than welcome to apply! We accept anyone and any credit score. Just follow the steps and we will help you!
    </p>
  </div>
  <!-- Pre-Requisites -->
  <div class="question-container">
    <h4 class="question-title">PRE-REQUISITES</h4>
    <!-- Questions -->
    <h4 class="question">
      What are your minimum requirements?
    </h4>
    <p class="answer">
        1. At least 18 years of age<br />
        2. With a valid driver’s license<br />
        3. Can acquire an insurance
    </p>
    <h4 class="question">
      Do I have to make a down payment?
    </h4>
    <p class="answer">
        Although this is not a requirement, it usually helps in coming up with a low monthly payment which eventually allows you to pay off your vehicle quickly.
    </p>
    <h4 class="question">
      Do I need a credit check?
    </h4>
    <p class="answer">
        A credit check is needed to process your approval.
    </p>
    <h4 class="question">
      Am I required to have a co-signer?
    </h4>
    <p class="answer">
        Usually, this is not a requirement, but the necessity of a cosigner will be based on the information of the whole duration of the application process. Our application process is free and requires no obligation to make a purchase, so you are open to looking for your possible choices.
    </p>
    <h4 class="question">
      Am I obligated to buy a car once I apply?
    </h4>
    <p class="answer">
        No. Our dealership contacts you initially to inform you of your options. This phase helps you come up with a sound decision on whether you like to purchase a vehicle.
    </p>
    <h4 class="question">
      I have declared backruptcy before. Can you still help me?
    </h4>
    <p class="answer">
        Definitely yes. Over the years, we have mastered helping people in all sorts of situations get specific financing plans, even for those who are bankrupt. Your case might take a little bit longer because we have to solicit information from your trustee, but most of the time we can lay out great options for our customers.
    </p>
    <h4 class="question">
      Do you accomodate those who receive income assistance?
    </h4>
    <p class="answer">
        Yes, we do. Chances of approval might be limited, but it is always our pleasure to help you come up with more options.
    </p>
  </div>
  <!-- APPROVAL PROCESS -->
  <div class="question-container">
    <h4 class="question-title">APPROVAL PROCESS</h4>
    <!-- Questions -->
    <h4 class="question">
      Where can I check your available vehicle types?
    </h4>
    <p class="answer">
        You can check our car loan inventory of the common types of vehicle we have available.
    </p>
    <h4 class="question">
      How can I know the total price?
    </h4>
    <p class="answer">
        The images that we post are the usual cars, trucks, and SUVs that we have either helped our customers acquire or the current deals we have for the month. The total price will still depend on the results of your application.
    </p>
    <h4 class="question">
      Are you going to have any type of vehicle?
    </h4>
    <p class="answer">
        We can help you shop all types! Check our inventory page for samples of the vehicles types often available with our dealers.
    </p>
    <h4 class="question">
      Am I required to have a co-signer?
    </h4>
    <p class="answer">
        Interest rates vary from one customer to another. Several factors are considered such as the amount financed, the term and exact approval that each customer is qualified. You can decide your length of payment term considering you would want to pay for a longer period or you want to pay off your loan sooner.
    </p>
  </div>
  <!-- Cards -->
  <div class="cards-container">
    <div class="card-sm">
      <i class="far fa-gem icon"></i>
      <h5 class="card-sm-title">Excellent Team</h5>
      <p class="card-sm-text">
          We can deliver the highest level of service and the most probability of getting a loan approved. Our committed and reliable team of customer service agents and finance specialist will always think of what will be the best offer for you!
      </p>
    </div>
    <div class="card-sm">
      <i class="fas fa-file-invoice-dollar icon"></i>
      <h5 class="card-sm-title">Best Value Offer</h5>
      <p class="card-sm-text">
          We are confident that our offers are way better than the rest of the dealerships you have encountered. We tailor-fit our offers based on your needs and make sure that we give you offers that you can’t resist.
      </p>
    </div>
    <div class="card-sm">
      <i class="far fa-smile icon"></i>
      <h5 class="card-sm-title">Seamless Online Process</h5>
      <p class="card-sm-text">
          We make everything easy and hassle-free for you. You can quickly apply for a pre-approval from the comfort of your home. Get approved within 24-48 hours. Then finally get your vehicle delivered to your doorstep!
      </p>
    </div>
  </div>
  <!-- Questions -->
  <div class="contact-container">
    <h4 class="contact-title">Have something more to ask?</h4>
    <p class="contact-text"><strong>For further inquiries, you can call us at (647) 348-5423.</strong> Our accommodating customer support will gladly assist you.</p>
    <a href="tel:+1-647-348-5423">
      <button class="button margin-auto">
        Call Us
        <i class="fas fa-phone phone-icon"></i>
      </button>
    </a>
  </div>
<!-- End Wrapper -->
</div>
