.faqs-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  overflow-y: auto;
  font-size: 1.2rem;
  padding-top: 80px;
}

.page-title-container {
  height: 180px;
  width: 100%;
  background-color: #166CBF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
}

/* Q/A */
.question {
  color: #007bff;
  text-transform: uppercase;
  margin-top: 25px;
}
.answer {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.question-container {
  margin: 50px 20%;
}
.question-title {
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}

/* Cards */
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 20%;
  border-top: 1px solid rgb(190, 190, 190);
  padding-top: 35px;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding-bottom: 15px;
}
.card-sm {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.icon {
  font-size: 5rem;
  margin: auto;
  margin-bottom: 10px;
  color: rgb(27, 76, 255);
}
.card-sm-title {
  text-align: center;
  margin-bottom: 10px;
}
.card-sm-text {
  font-size: 1rem;
  text-align: justify;
}

/* Questions */
.contact-container {
  margin: 25px 20%;
}
.contact-title {
  text-align: center;
  text-transform: uppercase;
}
.contact-text {
  text-align: center;
  margin-top: 20px;
}
.phone-icon {
  margin-left: 5px;
}

/* Button */
.button { 
  background-color: #37b601;
  border: none;
  color: white;
  width: 350px;
  padding: 10px 20px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 10px auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px rgb(105, 105, 105);
}
.button:hover {
  color: black;
  background-color: #f1592a;
}
.button:active {
  box-shadow: 0 2px #666;
  background-color: #f1592a;
  transform: translateY(2px);
}
.margin-auto {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 40px;
  background-color: #37b601;
}

/* -------------------------------- */
.action-button-container { display: none; }

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1800px) {
  .faqs-wrapper { padding-top: 50px; }
  .page-title-container { height: 120px; }
  .section-title { margin: 25px auto; }
  .question-container { margin: 25px 15%; }
  .cards-container { margin: 25px 15%; }
  .contact-container { margin: 25px 15%; }
}

/* Smaller Laptop */
@media screen and (max-width: 1550px) {
  .question-container { margin: 25px 10%; }
  .cards-container { margin: 25px 10%; }
  .contact-container { margin: 25px 10%; }
  .card-sm { width: 25%; }
}

/* iPad - Horizontal */
@media screen and (min-width: 900px) and (max-width: 1025px) {
  .section-title { font-size: 2.3rem; }
  .card-sm { width: 29%; }
  .card-sm-text { min-height: 200px; }
}

/* iPad */
@media screen and (min-width: 601px) and (max-width: 769px) {
  .cards-container { flex-direction: column; }
  .card-sm { width: 100%; }
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .faqs-wrapper { padding-top: 50px; }
  .page-title { font-size: 2.2rem; text-align: center; margin: auto 50px; }
  .section-title { display: none; }
  .question-container { margin: 50px 25px; }
  .question { font-size: 1.2rem; }
  .answer { font-size: 1rem; }
  .cards-container { flex-direction: column; margin: 50px 25px; }
  .card-sm { width: 100%; }
  .card-margin-top { margin-top: 10px; }
  .contact-container { margin: 50px 25px; }
  .contact-title { margin: auto 50px; }
  .action-button-container { 
    height: 60px; 
    width: 100%; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    background-color: white; 
    z-index: 30; 
    display: inherit;
    border-top: 2.5px solid black;
  }
  .action-button { text-align: center; text-transform: uppercase; margin-top: 12px; }
}

/* Large Smartphone - Horizontal */
@media screen and (max-width: 850px) and (max-height: 500px) {
  .section-title { font-size: 1.8rem; }
  .card-sm { width: 29%; }
  .card-sm-text { min-height: 200px; }
}

/* iPhone X - Horizontal*/
@media screen and (max-width: 815px) and (max-height: 376px) {
  .page-title { font-size: 2rem; }
  .section-title { font-size: 1.5rem; }
  .question-title { font-size: 1.3rem; }
  .question { font-size: 1.1rem; }
  .answer { font-size: 1rem; }
  .cards-container { flex-direction: row; }
  .margin-auto { margin-bottom: 0; }
}

/* iPhone */
@media screen and (max-width: 376px) {
  .page-title { font-size: 2rem; margin: auto 30px; }
  .margin-auto { margin-bottom: 140px; }
  .question { font-size: 1.1rem; }
}