@font-face { font-family: Michroma; src: url(../../../../assets/fonts/Michroma.ttf) }
@font-face { font-family: Lato; src: url(../../../../assets/fonts/Lato.ttf) }
@font-face { font-family: Montserrat; src: url(../../../../assets/fonts/Montserrat.ttf) }

/* Brand Colors */
/* dark blue #060C22 */
/* blue #1544EC */
/* light grey #E8E8E8 */

/* Navigation */
a {
  text-decoration: none;
}
.nav-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
}
.brand-logo {
  height: 30px;
  width: auto;
  margin-left: 5px;
  margin-right: -15px;
}
.brand-title {
  font-size: 2rem;
  font-family: Michroma; 
  margin-left: 25px;
  margin-top: 0;
}
.nav-wrapper {
  display: flex; 
  justify-content: center;
}
.nav-menu {
  position: fixed;
  top: 28px;
  margin: 0 auto; 
  z-index: 10;
  font-family: Michroma, sans-serif; 
}
.nav-expand {
  display: none;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin-top: -10px;
}
.nav-items li {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;

  cursor: pointer;
  z-index: 10;
}
.nav-menu a {
  color: white;
  padding: 8px 14px;
  background-color: rgb(27, 76, 255);
  border: 2px solid rgb(27, 76, 255);
  border-radius: 5px;
  margin-left: 10px;
}
.nav-menu a:hover {
  color: black;
  background-color: white;
  border: 2px solid rgb(27, 76, 255);
}
.no-margin-left-list {
  margin-left: -35px !important;
}
.nav-items li:hover, .nav-items li:active {
  color: black;
  background-color: white;
}
#menu-bars {
  display: none;
}
.desktop-none {
  display: none;
}

/* Laptop ----------------------***********------------------ */
@media screen and (max-width: 1800px) {
  .brand-logo { height: 20px; }
  .brand-title { font-size: 1.5rem; }
}

/* Smaller Laptops ---------***********------------------ */
@media screen and (max-width: 1596px) {
  .brand-logo { margin-right: -20px; }
  .brand-title { font-size: 1.1rem; font-weight: bold; margin-top: 5px; }
  .nav-menu a { padding: 4px 7px; font-size: 14px; }
  .nav-background { height: 50px; }
  .nav-items { margin-top: -19px; }
}

/* Mobile Nav */
/* iPad - Horizontal */
@media screen and (max-width: 1274px) {
  /* Navigation */
  #menu-bars { display: initial; }
  .desktop-none { display: initial; }
  .nav-background { z-index: 21; }
  .brand-title { margin-left: 30px; }
  .nav-menu { 
    top: -300px; 
    left: -20px; 
    width: 109%; 
    transition: 0.75s ease; 
    position: fixed;
    z-index: 20;
  }
  .nav-expand { 
    top: 50px !important; 
    display: initial; 
    transition: 0.3s ease; 
  }
  .nav-items { 
    flex-direction: column; 
    margin-left: -30px; 
    margin-top: -15px; 
    text-align: center;
  }
  .nav-items li {
    padding: 10px 14px;
    background-color: rgba(0,0,0,.85);
    width: 98.5%;
  }
  .nav-menu a {
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
  }
  .nav-menu a:active, .nav-menu a:hover {
    padding: 0;
    color: black;
    border: none;
  }
  .no-margin-left-list { margin-left: 10px !important; padding-top: 15px !important; }

  /* Hamburger Menu */
  .menu-container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 6px;
    right: 15px;
    z-index: 22;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(0,0,0);
    margin: 6px 0;
    transition: 0.4s;
    z-index: 30;
    /* box-shadow: 2px 2px 2px rgba(0,0,0,.5); */
  }
  .change .bar1 {
    background-color: rgb(0,0,0);
    transform: rotate(-45deg) translate(-9px, 6px);
    box-shadow: none;
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    background-color: rgb(0,0,0);
    transform: rotate(45deg) translate(-8px, -8px);
    box-shadow: none;
  }
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .brand-title { margin-left: 15px; }
  .brand-logo { margin-right: -5px; margin-left: 10px; }
  .menu-container { right: 15px; }
}

/* iPhone X */
@media screen and (max-width: 376px) {
  .brand-title { margin-left: 25px; font-size: 1rem; }
  .brand-logo { margin-right: -20px; }
  .menu-container { right: 15px; }
}
