.budget-estimate-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  font-size: 1.2rem;
  padding-top: 80px;
}

/* Title */
.page-title-container {
  height: 180px;
  width: 100%;
  background-color: #0e9648;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}

/* Calculator */
.calc-container {
  margin-bottom: 50px;
}

/* Left Calc */
.left-calc {
  margin-top: 50px;
  margin-right: -10px;
  padding-right: 35px !important;
}
.calc-subtitle {
  margin: 20px auto;
}
.extra-margin {
  margin-top: 50px;
}
.calc-text-left {
  margin-top: 25px;
  text-align: left;
  font-size: 1rem;
}
.extra-padding {
  padding: .5rem 1.72rem;
}

/* Custom Select */
.select-container {
  text-align: center;
  position: relative;
  top: 45px;
  left: 15px;
}
select {
  background: url(../../../assets/img/down-arrow.png) no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 244px;
  cursor: pointer;
}
.custom-select {
  background-color: rgb(240, 240, 240);
  border-color: rgb(240, 240, 240);
  line-height: 1.3;
  height: auto;
  font-size: 3rem;
  width: 275px;
}
option {
  font-size: 1.2rem; 
}
.custom-select:focus {
  box-shadow: none;
}

/* Right Calc */
.right-calc {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  margin: 50px auto;
  margin-left: 10px;
  margin-right: -10px;
}
.dropdown {
  margin: 50px 50px -25px;
}
.dropdown-menu {
  width: 218px;
}
.calc-total {
  margin: 50px;
  margin-bottom: 35px;
}
.dollar {
  font-size: 3rem;
  position: relative;
  top: -30px;
}
.big-number {
  font-size: 6rem;
  font-weight: normal;
  color: #0e9648;
  text-align: center;
}
.calc-text {
  margin: auto 50px;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 15px;
}
.small-text {
  font-size: 1rem;
  margin: auto 50px;
  margin-bottom: 50px;
}

.budget-title {
  text-align: center;
  font-weight: bold;
  color: #0e9648;
  margin-bottom: 25px;
}
.budget-text {
  text-align: justify;
  font-size: 1.2rem;
}

/* Button */
.button { 
  background-color: #0e9648;
  border: none;
  color: white;
  padding: 10px 30px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 10px auto;
  margin-right: 15px; 
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px rgb(105, 105, 105);
}
.button:hover {
  color: black;
  background-color: #f1592a;
}
.button:active {
  box-shadow: 0 2px #666;
  background-color: #f1592a;
  transform: translateY(2px);
  transform: translate(-50%, 0%);
}
.approved-btn {
  margin-bottom: 40px;
  background-color: #6fbe44;
}

/* -------------------------------------- */
.action-button-container { display: none; }

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1800px) {
  .budget-estimate-wrapper { padding-top: 50px; }
  .page-title-container { height: 120px; }
}

/* iPad - Horizontal */
@media screen and (min-width: 900px) and (max-width: 1025px) {
  .calc-title { font-size: 1.83rem; }
  .extra-padding { padding: .5rem 1.42rem; }
}

/* iPad */
@media screen and (max-width: 769px) {
  .calc-title { text-align: center; margin-bottom: 25px; }
  .extra-padding { padding: .5rem .6rem; }
  .calc-subtitle { font-size: 1.6rem; }
  .small-text { font-size: .9rem; margin: auto 25px; margin-bottom: 50px; }
  .budget-text { font-size: 1rem; }
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .budget-estimate-wrapper { padding-top: 50px; }
  .page-title { font-size: 2.2rem; text-align: center; margin: auto 50px; }
  .calc-title { font-size: 1.5rem; }
  .left-calc { padding-right: 15px !important;}
  .extra-padding { padding: .5rem 1.07rem; }
  .extra-margin-mobile { margin-top: 25px; }
  .right-calc { margin: 25px 15px; }
  .small-text { margin: auto 25px; margin-bottom: 50px; font-size: .8rem; }
  .budget-text { font-size: 1rem; margin: auto 2.5px; }
  .budget-estimator { margin-bottom: 85px; }
  .action-button-container { 
    height: 60px; 
    width: 100%; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    background-color: white; 
    z-index: 30; 
    display: inherit;
    border-top: 2.5px solid black;
  }
  .action-button { text-align: center; text-transform: uppercase; margin-top: 12px; }
}

/* Large Smartphone - Horizontal */
@media screen and (max-width: 850px) and (max-height: 500px) {
  .calc-title { font-size: 1.3rem; margin-bottom: 25px; }
  .extra-padding { padding: .5rem .6rem; }
  .calc-subtitle { font-size: 1.6rem; }
  .small-text { font-size: .9rem; margin: auto 25px; margin-bottom: 50px; }
}

/* iPhone X - Horizontal*/
@media screen and (max-width: 815px) and (max-height: 376px) {
  .page-title { font-size: 2rem; }
  .btn-group { left: 20%; }
  .left-calc { padding-right: 0 !important; }
}

/* iPhone X */
@media screen and (max-width: 376px) {
  .calc-title { font-size: 1.3rem; }
  .calc-text { margin: auto 25px; }
  .small-text { font-size: .7rem; }
  .extra-padding { padding: .5rem .8rem; }
  .budget-estimator { margin-bottom: 200px; }
}