.budget-estimate-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  overflow-y: auto;
  font-size: 1.2rem;
  padding-top: 80px;
}

/* Title */
.page-title-container {
  height: 180px;
  width: 100%;
  background-color: #166CBF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}

/* Calculator */
/* .calculator-container {
  display: flex;
  flex-direction: row;
} */

.right-calculator {
  display: initial;
}

.dropdown {

}
.dropdown-menu {
  width: 218px;
}
.budget-title {
  text-align: center;
}
.budget-text {
  text-align: justify;
}

/* Button */
.button { 
  background-color: rgb(27, 76, 255);
  border: none;
  color: white;
  padding: 10px 30px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 10px auto;
  margin-right: 15px; 
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px rgb(105, 105, 105);
}
.button:hover {
  color: black;
  background-color: #f1592a;
}
.button:active {
  box-shadow: 0 2px #666;
  background-color: #f1592a;
  transform: translateY(2px);
  transform: translate(-50%, 0%);
}
.margin-auto {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 40px;
  background-color: #37b601;
}


/* Media Queries */

/* Laptop */
@media screen and (max-width: 1800px) {
  .budget-estimate-wrapper { padding-top: 50px; }
  .page-title-container { height: 120px; }
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .budget-estimate-wrapper { padding-top: 50px; }
  .page-title { font-size: 2.2rem; text-align: center; margin: auto 50px; }
}
